# Q1. What is a database? Differentiate between SQL and NoSQL databases.

- Ans - A database is an organized collection of data that can be easily accessed, managed, and updated. Databases are commonly used to store and manage large amounts of data for various applications, such as web applications, e-commerce platforms, banking systems, and more.

There are two main types of databases: SQL and NoSQL. The key differences between these two types of databases are:

Data Model: SQL databases are based on the relational data model, where data is organized into tables with rows and columns. These tables have predefined schemas, and relationships between tables are defined using foreign keys. NoSQL databases, on the other hand, use a variety of data models, including key-value, document, graph, and column-family. These models are often more flexible and can handle unstructured or semi-structured data more easily.

Query Language: SQL databases use SQL (Structured Query Language) to interact with the data. SQL is a declarative language that allows you to write complex queries to retrieve, insert, update, and delete data. NoSQL databases, on the other hand, often have their own query languages or APIs, which can be more limited in functionality but may be more suited to the specific data model and use case.

Scalability: SQL databases are often vertically scalable, which means you can add more processing power and storage to a single machine to handle more traffic or data. NoSQL databases, on the other hand, are often horizontally scalable, which means you can add more machines to a cluster to handle more traffic or data. This can make NoSQL databases more suitable for large-scale applications with high traffic or data volume.

ACID Compliance: SQL databases are often designed to be ACID compliant, which means they guarantee Atomicity, Consistency, Isolation, and Durability of transactions. This makes SQL databases more suitable for applications that require strong data consistency and transactional integrity. NoSQL databases, on the other hand, often prioritize availability and partition tolerance over consistency and may sacrifice some degree of consistency for scalability and performance.

In summary, SQL databases are best suited for applications with structured data, complex queries, and strong consistency requirements, while NoSQL databases are better suited for applications with unstructured or semi-structured data, simple queries, and high scalability requirements.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans - DDL stands for Data Definition Language, and it is a set of SQL commands used to define and manipulate the structure of a database, including tables, indexes, and constraints.

Here are some of the common DDL commands and how they are used:

1. CREATE: This command is used to create new database objects, such as tables, views, and indexes. For example, to create a new table called "employees" with columns for "id", "name", and "salary", we could use the following SQL statement:

CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    salary DECIMAL(10, 2)
);


2. DROP: This command is used to delete existing database objects, such as tables, views, and indexes. For example, to delete the "employees" table we created earlier, we could use the following SQL statement:

DROP: This command is used to delete existing database objects, such as tables, views, and indexes. For example, to delete the "employees" table we created earlier, we could use the following SQL statement:

3. ALTER: This command is used to modify the structure of existing database objects, such as tables and views. For example, to add a new column "age" to the "employees" table we created earlier, we could use the following SQL statement:

ALTER TABLE employees ADD COLUMN age INT;


4. TRUNCATE: This command is used to delete all rows from a table, but keep the structure of the table intact. This is useful when you want to clear the data from a table without deleting the table itself. For example, to delete all data from the "employees" table we created earlier, we could use the following SQL statement:

TRUNCATE TABLE employees;


Overall, DDL commands are essential for creating and managing the structure of a database. The CREATE, DROP, ALTER, and TRUNCATE commands allow you to create new objects, delete existing objects, modify the structure of existing objects, and clear data from tables. These commands are used frequently in database development and administration.

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.


- Ans - DML stands for Data Manipulation Language, and it is a set of SQL commands used to manipulate the data in a database, including adding, modifying, and deleting data.

Here are some of the common DML commands and how they are used:

1. INSERT: This command is used to add new data to a table. For example, to insert a new row into the "employees" table we created earlier, we could use the following SQL statement:

INSERT INTO employees (id, name, salary, age)
VALUES (1, 'John Smith', 50000, 30);


2. UPDATE: This command is used to modify existing data in a table. For example, to update the salary of the employee with an ID of 1 to 60000, we could use the following SQL statement:

UPDATE employees
SET salary = 60000
WHERE id = 1;


3. DELETE: This command is used to delete data from a table. For example, to delete the employee with an ID of 1 from the "employees" table, we could use the following SQL statement:

DELETE FROM employees
WHERE id = 1;


Overall, DML commands are essential for manipulating the data in a database. The INSERT command is used to add new data to a table, the UPDATE command is used to modify existing data in a table, and the DELETE command is used to delete data from a table. These commands are used frequently in database development and administration to manage the data in a database.

# Q4. What is DQL? Explain SELECT with an example.


- Ans - DQL stands for Data Query Language, and it is a subset of SQL commands used to retrieve and display data from a database. The most commonly used DQL command is SELECT, which allows you to retrieve data from one or more tables based on certain criteria.

Here's an example of how the SELECT command works:

Let's say we have a table called "employees" with columns for "id", "name", "salary", and "age". To retrieve all the data from this table, we could use the following SQL statement:

SELECT * FROM employees;

# Q5. Explain Primary Key and Foreign Key.

- Ans - Primary Key and Foreign Key are two important concepts in database design that help to establish relationships between tables.

Primary Key: A Primary Key is a column or a set of columns in a table that uniquely identifies each row in the table. It is used to enforce the integrity of the data and ensure that each row in the table is unique. The primary key is also used to establish relationships between tables in a database. For example, consider a table called "Customers" with columns for "CustomerID", "Name", and "Address". In this table, the "CustomerID" column can be used as the primary key since it uniquely identifies each customer in the table.

Foreign Key: A Foreign Key is a column or a set of columns in a table that refers to the Primary Key of another table. It is used to establish a relationship between two tables in a database. For example, consider two tables called "Customers" and "Orders". The "Customers" table has a Primary Key on the "CustomerID" column, and the "Orders" table has a Foreign Key on the "CustomerID" column. This establishes a relationship between the two tables, where each order in the "Orders" table is associated with a customer in the "Customers" table.


# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

- Ans - import mysql.connector

# Establishing the connection
mydb = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="database_name"
)

# Creating a cursor object
mycursor = mydb.cursor()

# Executing a SQL query
mycursor.execute("SELECT * FROM mytable")

# Fetching the results
result = mycursor.fetchall()

# Printing the results
for x in result:
  print(x)

# Q7. Give the order of execution of SQL clauses in an SQL query.

- Ans -